{# purpose of this template: general base layout #}
{% block header %}
	{{ pageAddAsset('javascript', zasset('@RKDownLoadModule:js/RKDownLoadModule.js')) }}
{% endblock %}

{% if routeArea == 'admin' %}
{% block appTitle %}
    {{ moduleHeader('user', '', '', false, true, false, true) }}
{% endblock %}
{% endif %}

{% block titleArea %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
    <p class="text-center">
        Powered by <a href="https://modulestudio.de" title="Get the MOST out of Zikula!">ModuleStudio 1.1.0</a>
    </p>
{% endblock %}
