{# purpose of this template: files index view #}
{% extends routeArea == 'admin' ? 'RKDownLoadModule::adminBase.html.twig' : 'RKDownLoadModule::base.html.twig' %}
{% block title __('Files') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <div class="rkdownloadmodule-file rkdownloadmodule-index">
        <p>{{ __('Welcome to the file section of the Down load application.') }}</p>
    </div>
{% endblock %}
